window#waybar {
  background-color: transparent;
  color: rgb(24, 28, 34);
}

button {
  margin: 0;
  padding: 0;
  min-width: 25px;
}

tooltip {
  text-shadow: none;
  background-clip: border-box;
  background-color: rgba(245, 240, 231, 0.9);
  border: 10px solid transparent;
  border-radius: 15px;
  border-image: url("border.png") 40 round;
}

.modules-left, .modules-center, .modules-right {
  background-color: rgba(245, 240, 231, 0.9);
  border: 10px solid transparent;
  border-top: none;
  border-image: url("border.png") 40 round;
  padding: 5px 10px 0 10px;
}

.modules-center {
  border-radius: 0 0 15px 15px;
}

.modules-left {
  border-radius: 0 0 15px 0;
  border-left: none;
  padding-right: 5px;
}

.modules-right {
  border-radius: 0 0 0 15px;
  border-right: none;
}

#workspaces button {
  border: 5px solid transparent;
}

#workspaces button.active {
  border-image: url("border.png") 11 round;
}
