window#waybar {
  background-color: rgba(245, 240, 231, 0);
  color: rgb(24, 28, 34);
}

.modules-left, .modules-center, .modules-right {
  background-color: rgba(245, 240, 231, 0.9);
  border-image: url("./border.png") 40% stretch;
}

